<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="EXCEPTION_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{exceptionCause} - %X{exceptionSource}:%X{exceptionCode}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs\exception.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%X{exceptionCause} - %X{exceptionSource}:%X{exceptionCode}] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>logs\exception.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs\debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>logs\debug.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--
    exceptions log
    -->
    <logger name="com.epam.java.rt.lab.exception.AppException" level="ERROR" additivity="false">
        <appender-ref ref="EXCEPTION_STDOUT" />
        <appender-ref ref="EXCEPTION" />
    </logger>

    <!--
    root defines what appender will be used to output log-message as default, as a result all log-messages wil appear
    in 'STDOUT'-appender
    -->
    <root level="DEBUG">
        <appender-ref ref="DEBUG_STDOUT" />
        <appender-ref ref="DEBUG" />
    </root>

</configuration>